<!DOCTYPE html>
<html>
<head>
  <title>Header</title>
  <link rel='stylesheet' type='text/css' href="/public/assets/styles.css">
</head>
<body>
  <span><a href='/urls'>Home</a></span>
  <span><a href='/register'>Registration</a></span>
  <% if (!loggedIn) { %>
  <span><a href='/login'>Login</a></span>
  <% } else { %>
  <span><a href='/login'>Logout</a></span>
  <% } %>
  <span><a href='/urls/new'>New URL</a></span>
</body>
</html>