<!DOCTYPE html>
<html>
<head>
  <title>Header</title>
</head>
<body>
  <form method='POST' action='/login'>
    Username: <input type="text" name="username">
    <button type='submit'>Login</button>
  </form>
</body>
</html>