<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
</head>
<style type="text/css">
  h2 {
    color: blue;
    font-family: 'Helvetica';
  }
  .textbox {
    margin-top: 30px;
    border: solid 1px black;
    font-family: 'Helvetica';
    color: blue;
  }
</style>

<body>

  <header>
    <% include ../partials/_header %>
  </header>

  <div class="textbox">
    <% for (url in urls) { %>
      <% if(url == shortURL) { %>
        Shortened URL: <%= urls[url] %>
      <% } %>
    <% } %>
  </div>

</body>
</html>

<!-- variables passed into this file:  -->
<!-- shortURL, urls (an object) -->