<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<style>
  button {
    margin: 5px;
  }
  form {
    border: solid black 1px;
    margin: 5px;
    width: 50%;
  }
</style>
<body>
  <!-- Add your EJS code here -->
  <header>
    <% include ../partials/_header %>
  </header>

  <h1>
    List of URLs in database
  </h1>
    <% for (const url in urls) { %>
      <form method="POST" action='/urls/<%= url %>/delete'><%= url %>: <%= urls[url] %>
        <button type='submit' formmethod='POST'>Delete</button>
      </form>

      <% } %>

</body>
</html>