<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
  <link rel='stylesheet' type='text/css' href="/public/assets/styles.css">
</head>
<body>
  <header>
    <% include ../partials/_header %>
  </header>
  <h1>Short URL: <%= url %></h1>
  <div class="textbox">
    <form method="POST" action='/urls/<%= url %>/update?_method=PUT'>
      New url: <input type="text" name="newurl">
      <button type='submit' formmethod='POST'>Update</button>
    </form>
  </div>
  <table>
      <tr>
        <th>Visitor</th><th>Time of visit</th>
      </tr>
    <% for (const visitor in visitors) { %>
      <tr>
        <th><%= visitor %></th><th><%= visitors[visitor] %></th>

      </tr>
    <% } %>
  </table>

</body>
</html>

<!-- variables passed into this file:  -->
<!-- shortURL, urls (an object) -->