<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
</head>
<style>
  h2 {
    color: blue;
    font-family: 'Helvetica';
  }
  table {
    margin-top: 30px;
    border: solid 1px black;
    font-family: 'Helvetica';
    color: blue;
    width: 70%;
  }
  th {
    margin-left: 10px;
    width: 50px;
  }
  form {
    margin: 10px;
  }
</style>

<body>

  <header>
    <% include ../partials/_header %>
  </header>
  <h1>Short URL: <%= url %></h1>
  <div class="textbox">
    <form method="POST" action='/urls/<%= url %>/update'>
      New url: <input type="text" name="newurl">
      <button type='submit' formmethod='POST'>Update</button>
    </form>
  </div>

</body>
</html>

<!-- variables passed into this file:  -->
<!-- shortURL, urls (an object) -->