<!DOCTYPE html>
<html lang="en">
<head>
  <title>New URL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
  @import "bourbon";

  body {
    background: #eee !important;
  }

  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    height: 204px;

    .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      @include box-sizing(border-box);

      &:focus {
        z-index: 2;
      }
    }

    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
</style>
<body>
  <header>
  <% include ../partials/_header %>
  </header>
  <div class="container">
    <div class="wrapper">
      <form class="form-signin" action="/urls/new" method="POST">
        <h4 class="form-signin-heading">Enter a URL you would like to shorten</h2>
        <input id="longURL" type="url" class="form-control" name="longURL" placeholder="http://" required="" autofocus="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;">Submit</button>
      </form>

    </div>
<!--  -->
  <!-- <form action="/urls/new" method="POST" style="margin:150px;"> -->
    <!-- <label for="longURL">Enter a URL:</label> -->
    <!-- <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px"> -->
    <!-- <input type="submit" value="Submit"> -->
  <!-- </form> -->
  <!-- </div> -->
</body>
</html>