<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel='stylesheet' type='text/css' href="/public/assets/styles.css">
</head>
<body>

  <header>
    <% include ../partials/_header %>
    <link rel='stylesheet' href='style.css'>
  </header>
  <h1>Registration</h1>
  <table>
    <tr>
      <form action='/register' method="POST" id='register'>
        <th>
          Email:
          <input type="email" name="email">
        </th>
        <th>
          <button type='submit'>Submit</button>
        </th>
      </form>
    </tr>
    <tr>
      <form>
        <th>
          Password:
          <input type="password" name="password" form='register'>
        </th>
      </form>
    </tr>
  </table>


</body>
</html>

