<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' type='text/css' href="/public/assets/styles.css">
</head>
<body>
  <header>
    <% include ../partials/_header %>
  </header>
  <table>
      <% if (loggedIn) { %>
        <tr>
          <th>Hello <%= user_id %>, you are logged in</th>
          <th>
            <form method='POST' action='/logout'>
              <button type='submit'>Logout</button>
            </form>
          </th>
        </tr>
      <% } else { %>
        <tr>
          <th>
            <form method='POST' action='/login' id='login'>
              Email:
              <input type="email" name="email">
            </form>
          </th>
          <th><button type='submit' formmethod='POST' form='login'>Login</button></th>
        </tr>
        <tr>
          <th>
            Password:
            <input type="password" name="password" form='login'>
          </th>
          <th>
          </th>
        </tr>
      <% } %>
  </table>
</body>
</html>