  html {
    font-family: 'Helvetica'
  }
  h2 {
    color: blue;
    font-family: 'Helvetica';
  }
  table {
    margin-top: 30px;
    border: solid 1px black;
    font-family: 'Helvetica';
    color: blue;
    width: 70%;
  }
  th {
    margin-left: 10px;
    width: 50px;
    text-align: right;
  }
  form {
    margin: 10px;
  }